//============================== fonts ======================================================================
///////// O
$OpenSans:'Open Sans', sans-serif;;
///////// s
$source:'Source Sans Pro', sans-serif;

//============================== Vertical align middle ======================================================================
@mixin vam() {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  margin: auto;
}


